/temp
/build
/build_beta
/resources
/keys

/repository/wirenboard
/repository/debian
/repository/versions
/repository/jethome
/repository2
/repository/files

*.deb
package-lock.json
*.token

!/repository/others/libatomic1_6.3.0-18_armhf.deb
!/repository/others/zip_3.0-11_armhf.deb